body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black; /* Фон черного цвета */
  }
  
  .ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: purple;
	position: absolute;
	animation: moveBall linear infinite;
  }
  
  @keyframes moveBall {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(100vw, 100vh);
	}
  }
  
body {
    background-color: #000;
    color: #fff;
    font-family: 'Tektur', cursive;
}

header {
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    font-size: 18px;
    margin: 0 10px;
}
a {
    color: #fff; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

a:hover {
    color: #8800ff; /* Изменение цвета текста при наведении */
}

/* Стили для ссылок в навигационном меню */
nav ul li a {
    padding: 10px; /* Внутренние отступы */
}


h1{
    color: #8800ff;
    padding-left: 10%;
    font-size: 350%;
	padding-top: 20%;
}
@keyframes ex {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(50px);
	}
}
h2{
    animation: ex 3s ease 0s 1 normal forwards;
    color: antiquewhite;
    
}
@keyframes ex1 {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


@keyframes lox {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.lox{
       animation: lox 4s ease 0s 1 normal forwards;
	   font-size: 24px;
     
       
}

@keyframes YourAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.lox1{
    animation: YourAnim 4s ease 0s 1 normal forwards;
	padding-top: 20%;
    float: right;
}
@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
h5{
	
	animation: myAnim 6s ease 0s 1 normal forwards;
    color: #fff;
   padding-left: 10%;
	font-size: 200%;
}
div{
	display: flex;
}
.text{
	animation: myAnim 6s ease 0s 1 normal forwards;
    color: #fff;
    text-align: center;
	font-size: 200%;
}


.text1{
	animation: myAnim 6s ease 0s 1 normal forwards;
    color: #fff;
    text-align: center;
	font-size: 200%;
}

div{
	display: flex;
}
.des{
	padding-left: 10%;
	font-size: 300%;
}
.des1{
	padding-left: 10%;
	font-size: 100%;
}
@keyframes off {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.off{
	font-size: 150%;
	color: #8800ff;
	padding-left: 10%;
	animation: off 4s ease 0s 1 normal forwards;
}
	

.of {
	font-size: 150%;
	color: #8800ff;
	text-align: center;
	padding: auto;
	
}

.o{
	font-size: 150%;
	color: #8800ff;
	text-align: center;
	padding-right: 10%;
	animation: myAnim 4s ease 0s 1 normal forwards;
}

.gif{
    
	text-align: center;
   
}
@keyframes error {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.gif2{
    animation: error 3s ease 0s 1 normal forwards;
    text-align: center;
}
.iu{
	display: flex;
}

